# IntelliJ
.idea/
*.iml

# Application Logs
logs/

# Mac OS X
.DS_Store

# RPM build
BUILD/
RPMS/
SPECS/
SOURCES/
SRPMS/

# SBT
.sbt_completion_cache
.sbtserver
.sbtopts
project/.sbtserver
project/.sbtserver.lock
project/boot/
project/plugins/project
project/sbt-ui.sbt
target/

# rms-speculate
real-tuesday-weld
/.project

# config
application.services.conf
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/modules.xml
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/modules.xml
